.callout {
	background-color: transparent;
	padding: 5px;
}

.callout-content {
	/* border-radius: 5px; */
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.callout-title {
	padding-top: 10px;
	padding-left: 10px;
}

body {
	--callout-min-width: 200px;
	--callout-gap: 0.5rem;
	--callout-margin: 5px;
	--list-min-width: 200px;
	--col-rule-color: #b3b3b3;
	--col-rule-width: 1px;
	--float-small-width: 300px;
	--float-medium-width: 400px;
	--float-large-width: 600px;

	--col-orange: 178, 122, 64;
	--col-pink: 178, 22, 164;
	--col-green: 99, 188, 76;
	--col-yellow: 255, 204, 0;
	--col-blue: 0, 153, 255;
	--col-purple: 139, 65, 166;
	--col-red: 255, 106, 106;
	--col-grey: 153, 153, 153;

	--red: rgb(255, 236, 236);
	--green: rgb(238, 243, 237);
	--orange: rgb(249, 237, 223);
	--yellow: rgb(250, 243, 222);
	--blue: rgb(233, 243, 248);
	--grey: rgb(241, 241, 239);
}

/* remove callout-title and make callout-content as part of main callout for box formatting */
div[data-callout="multi-column"].callout > .callout-title { display: none; }

/* ===隐藏标题============ */
.callout.callout:is(
		[data-callout-metadata*='notitle'],
		[data-callout*='notitle']
	)
.callout-title {
	display: none;
}

/* ===隐藏边框============ */
.callout.callout:is(
		[data-callout-metadata*='noborder'],
		[data-callout*='noborder']
	) {
	border-left: 0;
	background-color: transparent;
	box-shadow: none;
}
.callout.callout:is(
		[data-callout-metadata*='noborder'],
		[data-callout*='noborder']
	)
.callout-content {
	border-left: 0;
	background-color: transparent;
	box-shadow: none;
	border: none;
}

/* .callout.callout:is([data-callout-metadata*="hbg"],
[data-callout*=hbg]) .callout-title {
  display:none;
} */

.callout.callout:is([data-callout-metadata*='box'], [data-callout*='box']) {
	border-left: 0;
	padding-bottom: 10px;
	background-color: transparent;
	box-shadow: none;
}
.callout.callout:is([data-callout-metadata*='box'], [data-callout*='box'])
.callout-content {
	border-left: 0;
	background-color: transparent;
	box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.15);
	border: 1px solid #ddd;
	border-radius: 12.5px;
}

.callout.callout:is([data-callout-metadata*='white'], [data-callout*='white'])
.callout-content {
	border-left: 0;
	background-color: rgb(250, 250, 250);
	box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.15);
	/* border: 1px solid rgba(0, 0, 0, 0.15); */
	border-radius: 5px;
}

.callout.callout:is([data-callout-metadata*='white'], [data-callout*='white'])
.callout-title
{
	--callout-color: grey;
	background-color: rgb(250, 250, 250);
}


.callout.callout:is([data-callout-metadata*='green'], [data-callout*='green'])
.callout-content {
	border-left: 0;
	/* background-color: rgba(163, 230, 53, 0.9); */
	background-color: var(--green);
	/* box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.15); */
	/* border: 1px solid rgba(163, 230, 53, 0.9); */
}

.callout.callout:is([data-callout-metadata*='green'], [data-callout*='green'])
.callout-title
{
	--callout-color: var(--col-green);
	background-color: var(--green);
}

.callout.callout:is([data-callout-metadata*='orange'], [data-callout*='orange'])
.callout-content {
	border-left: 0;
	/* background-color: rgba(251, 146, 60, 0.9); */
	background-color: var(--orange);
	/* box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.15); */
	/* border: 1px solid rgba(251, 146, 60, 0.9); */
}

.callout.callout:is([data-callout-metadata*='orange'], [data-callout*='orange'])
.callout-title
{
	--callout-color: var(--col-orange);
	background-color: var(--orange);
}

.callout.callout:is([data-callout-metadata*='yellow'], [data-callout*='yellow'])
.callout-content {
	border-left: 0;
	/* background-color: rgba(250, 204, 21, 0.9); */
	background-color: var(--yellow);
	/* box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.15); */
	/* border: 1px solid rgba(250, 204, 21, 0.9); */
}

.callout.callout:is([data-callout-metadata*='yellow'], [data-callout*='yellow'])
.callout-title
{
	--callout-color: var(--col-yellow);
	background-color: var(--yellow);
}

.callout.callout:is([data-callout-metadata*='blue'], [data-callout*='blue'])
.callout-content {
	border-left: 0;
	/* background-color: rgba(96, 165, 250, 0.9); */
	background-color: var(--blue);
	/* box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.15); */
	/* border: 1px solid rgba(96, 165, 250, 0.9); */
}

.callout.callout:is([data-callout-metadata*='blue'], [data-callout*='blue'])
.callout-title
{
	--callout-color: var(--col-blue);
	background-color: var(--blue);
}

.callout.callout:is([data-callout-metadata*='red'], [data-callout*='red'])
.callout-content
{
	border-left: 0;
	background-color: var(--red);
}

.callout.callout:is([data-callout-metadata*='red'], [data-callout*='red'])
.callout-title
{
	--callout-color: var(--col-red);
	background-color: var(--red);
}


.callout.callout:is([data-callout-metadata*='grey'], [data-callout*='grey'])
.callout-content {
	border-left: 0;
	/* background-color: rgb(250, 250, 250); */
	background-color: var(--grey);
	/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); */
	/* border: 1px solid rgb(245, 245, 245); */
}

.callout.callout:is([data-callout-metadata*='grey'], [data-callout*='grey'])
.callout-title
{
	--callout-color: var(--col-grey);
	background-color: var(--grey);
}

/* =============== */

.callout.callout:is([data-callout-metadata*='col-green'], [data-callout*='col-green'])
.callout-content {
	border-left: 0;
	/* background-color: rgba(163, 230, 53, 0.9); */
	background-color: transparent;
	/* box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.15); */
	/* border: 1px solid rgba(163, 230, 53, 0.9); */
	border: 1px solid transparent;
}

.callout.callout:is([data-callout-metadata*='col-green'], [data-callout*='col-green'])
.callout-title
{
	--callout-color: var(--col-green);
	background-color: #EDF3EC;
	padding-top: 7px;
	padding-bottom: 7px;
}

.callout.callout:is([data-callout-metadata*='col-orange'], [data-callout*='col-orange'])
.callout-content {
	border-left: 0;
	/* background-color: rgba(251, 146, 60, 0.9); */
	background-color: transparent;
	/* box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.15); */
	/* border: 1px solid rgba(251, 146, 60, 0.9); */
	border: transparent;
}

.callout.callout:is([data-callout-metadata*='col-orange'], [data-callout*='col-orange'])
.callout-title
{
	--callout-color: var(--col-orange);
	background-color: #FAEBDD;
	padding-top: 7px;
	padding-bottom: 7px;
}

.callout.callout:is([data-callout-metadata*='col-yellow'], [data-callout*='col-yellow'])
.callout-content {
	border-left: 0;
	/* background-color: rgba(250, 204, 21, 0.9); */
	background-color: transparent;
	/* box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.15); */
	/* border: 1px solid rgba(250, 204, 21, 0.9); */
	border: 1px solid transparent;
}

.callout.callout:is([data-callout-metadata*='col-yellow'], [data-callout*='col-yellow'])
.callout-title
{
	--callout-color: var(--col-yellow);
	background-color: #FBF3DB;
	padding-top: 7px;
	padding-bottom: 7px;
}

.callout.callout:is([data-callout-metadata*='col-blue'], [data-callout*='col-blue'])
.callout-content {
	border-left: 0;
	/* background-color: rgba(96, 165, 250, 0.9); */
	background-color: transparent;
	/* box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.15); */
	/* border: 1px solid rgba(96, 165, 250, 0.9); */
	border: 1px solid transparent;
}

.callout.callout:is([data-callout-metadata*='col-blue'], [data-callout*='col-blue'])
.callout-title
{
	--callout-color: var(--col-blue);
	background-color: #E7F3F8;
	padding-top: 7px;
	padding-bottom: 7px;
}

.callout.callout:is([data-callout-metadata*='col-red'], [data-callout*='col-red'])
.callout-content
{
	border-left: 0;
	background-color: transparent;
}

.callout.callout:is([data-callout-metadata*='col-red'], [data-callout*='col-red'])
.callout-title
{
	--callout-color: var(--col-red);
	background-color: #FDEBEC;
	padding-top: 7px;
	padding-bottom: 7px;
}


.callout.callout:is([data-callout-metadata*='col-grey'], [data-callout*='col-grey'])
.callout-content {
	border-left: 0;
	/* background-color: rgb(250, 250, 250); */
	background-color: transparent;
	/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); */
	/* border: 1px solid rgb(245, 245, 245); */
}

.callout.callout:is([data-callout-metadata*='col-grey'], [data-callout*='col-grey'])
.callout-title
{
	--callout-color: var(--col-grey);
	background-color: #F1F1EF;
	padding-top: 7px;
	padding-bottom: 7px;
}


/* ===支持 right left  center 语法============ */
/*支持两种写法
    > [!note|right]
    > [!note right]
   */
.callout.callout:is([data-callout-metadata*='left'], [data-callout*='left']) {
	float: left !important;
	margin: unset;
}
.callout.callout:is([data-callout-metadata*='right'], [data-callout*='right']) {
	float: right !important;
	margin: unset;
}

.callout.callout:is(
		[data-callout-metadata*='center'],
		[data-callout*='center']
	) {
	display: block;
	margin: auto;
	float: unset;
	text-align: center;
}

/* ===百分比宽度============ */
/*支持两种写法
  > [!note|30%]
  > [!note 30%]
*/
.callout.callout:is([data-callout-metadata*='100%'], [data-callout*='100%']) {
	width: 100%;
}
.callout.callout:is([data-callout-metadata*='95%'], [data-callout*='95%']) {
	width: 95%;
}
.callout.callout:is([data-callout-metadata*='90%'], [data-callout*='90%']) {
	width: 90%;
}
.callout.callout:is([data-callout-metadata*='85%'], [data-callout*='85%']) {
	width: 85%;
}
.callout.callout:is([data-callout-metadata*='80%'], [data-callout*='80%']) {
	width: 80%;
}
.callout.callout:is([data-callout-metadata*='75%'], [data-callout*='75%']) {
	width: 75%;
}
.callout.callout:is([data-callout-metadata*='70%'], [data-callout*='70%']) {
	width: 69%;
}
.callout.callout:is([data-callout-metadata*='65%'], [data-callout*='65%']) {
	width: 64%;
}
.callout.callout:is([data-callout-metadata*='60%'], [data-callout*='60%']) {
	width: 59%;
}
.callout.callout:is([data-callout-metadata*='55%'], [data-callout*='55%']) {
	width: 54%;
}
.callout.callout:is([data-callout-metadata*='50%'], [data-callout*='50%']) {
	width: 49%;
}
.callout.callout:is([data-callout-metadata*='45%'], [data-callout*='45%']) {
	width: 44%;
}
.callout.callout:is([data-callout-metadata*='40%'], [data-callout*='40%']) {
	width: 39%;
}

.callout.callout:is([data-callout-metadata*='35%'], [data-callout*='35%']) {
	width: 34%;
}
.callout.callout:is([data-callout-metadata*='33%'], [data-callout*='33%']) {
	width: 33%;
}
.callout.callout:is([data-callout-metadata*='30%'], [data-callout*='30%']) {
	width: 29.5%;
}
.callout.callout:is([data-callout-metadata*='25%'], [data-callout*='25%']) {
	width: 25%;
}
.callout.callout:is([data-callout-metadata*='20%'], [data-callout*='20%']) {
	width: 20%;
}
.callout.callout:is([data-callout-metadata*='15%'], [data-callout*='15%']) {
	width: 15%;
}
.callout.callout:is([data-callout-metadata*='10%'], [data-callout*='10%']) {
	width: 10%;
}

.is-live-preview
:is(.HyperMD-quote, .cm-callout)
+ [class='cm-active cm-line'] {
	transition: 0.5s line-height;
}

.is-live-preview :is(.HyperMD-quote, .cm-callout) + [class='cm-line'] {
	line-height: 0.8;
	transition: 0.5s line-height, 0.5s background-color;
	border-radius: 0;
}

.is-live-preview :is(.HyperMD-quote, .cm-callout) + [class='cm-line']:hover {
	background-color: hsla(var(--color-accent-hsl), 0.4);
}

/* in reading view */
.markdown-source-view  .contains-task-list {
	padding-left: 0 !important;
}
